body {
    font-family: 'Montserrat', sans-serif;
  }
  i{
    color: #efefef;
    font-size: 2em;
  }
  #quote{
    font-size: 1.5em;
    color: grey;
  }
  small{
    font-weight: bold;
    color: grey;
  }
  #display{
    padding: 5em;
    border: 0.5px solid #efefef;
  }
  #display:active{
    background-color: white;
    transform: scale(0.95);
    transition: .1s ease;
  }